<div class="px-4 py-5  text-center gradient-custom" style="height:100%;">
  <form [formGroup]="aadhaarForm" (ngSubmit) = "onSubmit()">
    <div class="container mt-5 mb-5">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="card px-5 py-5">
            <span class="circle" routerLink="/dashboard"><i class="fa fa-check"></i></span>
  
            <h2 class="mt-3">Enter Aadhaar <br /></h2>
            <small class="mt-2 text-muted">
              Please enter your aadhaar number!
            </small>
  
            <div class="form-input">
              <i class="fa fa-envelope"></i>
              
                  <input
                    type="text"
                    id="aadhaar"
                    name="aadhaar"
                    formControlName = "aadhaar"
                    class="form-control form-control-lg"
                    
                    placeholder="Aadhar Number"
                  />
                  <span    class="help-block" *ngIf = "!aadhaarForm.get('aadhaar').valid && aadhaarForm.get('aadhaar').touched" 
                  style ="color:rgb(123, 123, 123)">Enter your Aadhaar Number</span>
            </div>
  
            
            <div class="form-outline  mb-4">
              <table class="table ">
                <tbody>
                  <tr class="table">
                    <td class="column">
                      <button class="btn btn-outline btn-md px-5 gradient-custom" type="submit"  [disabled]="!aadhaarForm.valid">
                        Submit
                      </button>
                    </td>
                    <td style="padding-right: 0px;margin-left: 6px;">
                      <button class="btn btn-outline btn-md px-5 gradient-custom" type="reset" style="padding-right: 0px;margin-left: 6px;"  (click)="reset()" >
                        Reset
                      </button>
                    </td>  
                </tr>
                
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>



