<div class="px-4 py-5  gradient-custom" style="height: 100vh;">
  <div class="container gradient-custom" >
    <div class="col-md6">
      <div class="card text-center">
        <div class="card-body" >
          <h4 class="card-title" >
             View Pensioner Detail
          </h4>
          <p class="card-text">
            Check out the pensioner detail by using aadhaar number
          </p>
          <a routerLink="/pensionerDetail" class="btn btn-outline gradient-custom">Click Here</a>
        </div>
      </div>
      <div class="card text-center" style="margin-top: 20px">
        <div class="card-body">
          <h4 class="card-title" >
            Calculate the Pension
          </h4>
          <p class="card-text">
            Get the pension detail like pension amount and bank charge  by using aadhaar number
          </p>
          <a routerLink="/calculatePension" class="btn btn-outline gradient-custom">Click Here</a>
        </div>
      </div>
    </div>
    
  </div>
</div>



