<div class="px-4 py-5  gradient-custom" style="height: 100vh;">
  <div class="container gradient-custom" >
    <div class="col-md6">
      <div class="card text-center">
        <div class="card-body" >
          <h4 class="card-title" >
             View Pensioner Detail
          </h4>
          <p class="card-text">
            Check out the pensioner detail by using aadhaar number
          </p>
          <a routerLink="/pensionerDetail" class="btn btn-outline gradient-custom">Click Here</a>
        </div>
      </div>
      <div class="card text-center" style="margin-top: 20px">
        <div class="card-body">
          <h4 class="card-title" >
            Calculate the Pension
          </h4>
          <p class="card-text">
            Get the pension detail like pension amount and bank charge  by using aadhaar number
          </p>
          <a routerLink="/calculatePension" class="btn btn-outline gradient-custom">Click Here</a>
        </div>
      </div>
    </div>
    
  </div>
</div>


<!-- <div class="px-4 py-5  text-center gradient-custom" style="height:100vh;">

<div class="form-outline  mb-4" class="row d-flex align-items-center justify-content-center">
  <table class="table row d-flex align-items-center justify-content-center" >
    <tbody>
      <tr class="table">
        <td class="col-lg-6 mb-4">
          <div class="card px-5 py-5">
            <span class="circle"><i class="fa fa-check"></i></span>

            <h2 class="mt-3">GetPensioner Detail <br /></h2>
            <small class="mt-2 text-muted">
              Check the Pensioner Detail by using Aadhaar number
            </small>
          </div>
              <button class="btn btn-outline btn-md px-5 gradient-custom" type="submit"  [disabled]="!loginForm.valid">
            Submit
          </button> -->
        <!-- </td>
        <td class="col-lg-6 mb-4" >
          <div class="card px-5 py-5">
            <span class="circle"><i class="fa fa-check"></i></span>

            <h2 class="mt-3">GetPensioner Detail <br /></h2>
            <small class="mt-2 text-muted">
              Check the Pensioner Detail by using Aadhaar number
            </small>
          </div> -->
          <!-- <button class="btn btn-outline btn-md px-5 gradient-custom" type="reset" style="padding-right: 0px;margin-left: 6px;"  (click)="reset()" >
            Reset
          </button> -->
        <!-- </td>  
    </tr>
    
    </tbody>
  </table>
</div>
</div> -->

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
