<div
  class="px-4 py-5 text-center gradient-custom"
  style="height: 100vh; width: 100%"
>
  <div class="container gradient-custom">
    <div class="col-md6">
      <div class="card text-center" style="margin-top: 55px">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center; margin-top: 60px">
            Welcome to Pension Management Portal
          </h2>
          <p class="card-text">
            This is the State Government's Pension Management portal , to manage
            the pension and the pensioner details of the government employees
          </p>

          <div class="form-outline mb-4">
            <table class="table">
              <tbody>
                <tr class="table">
                  <td class="column">
                    <button
                      type="button"
                      *ngIf="!loggedIn"
                      class="btn btn-outline gradient-custom"
                      routerLink="/login"
                    >
                      Login
                    </button>
                    <button
                      type="button"
                      *ngIf="loggedIn"
                      class="btn btn-outline gradient-custom"
                      (click)="logoutUser()"
                      href="/home"
                    >
                      Logout
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
