
<div class="px-4 py-5 my-5 text-center">
    
    <h1 class="display-5 fw-bold">Welcome to Pension Management Portal</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This is the State Government's Pension Management portal , to manage the pension and the pensioner details of the government employees</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button  type="button" class="btn btn-outline-dark" routerLink ="/login">Login</button>
      </div>
    </div>
  </div>

  